UPOD Software Requirements

1. Introduction

1.1 Purpose

UPOD is designed to make easier for student to access physics equations, definitions, explanations, and diagrams. As well as giving professors the ability of updating existing information, and adding new information.

1.2 Scope

UPOD (University Physics Online Database) will make the access and updating of important physics information easier, and more accessible. Students will be able to search for specific topics, and read about them. While professors will also have the ability to edit, create, and delete pages from the database.
The goal for UPOD is to make it accessible to everyone. This includes applying it to school servers, and have people login using their school login information.


1.3 Definitions

Front-end: 

1.4 References

1.5 Overview


2. Overall Description

2.1 Product Perspective

2.2 Product Functions

2.3 User Characteristics

2.4 Constraints

2.5 Assumptions and Dependencies

3. Specific requirements

Appendices

Index




 
Requirements Documents	SAQ
Stephanie Pitman	Connor Watson
Joseph Shannon		Yinhao Zhong
Nathan Skof		Victor Tang
Nicholas HALLMEN	Travis Leyenuarniseon
Lauren Hepditch	 
 	 
 	 


Introduction

Purpose
UPOD is designed to make easier for student to access physics equations, definitions, explanations, and diagrams. As well as giving professors the ability of updating existing information, and adding new information.

Scope
UPOD (University Physics Online Database)
