/* General CSS*/

html {
    height: 100%;
}

body {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3366FF;
}

.fClass {
    background-color: #FFF;
    width: 100%;
}

.greenButton {
    background-color: #08c544 !important;
}

.greenButton:hover {
    box-shadow: 0px 2px 0px 0px #031 !important;
    transform: translateY(-2px);
    transition: transform 100ms, box-shadow 100ms;
}

.solidButton {
    margin-left: 1%;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #3366ff;
    border-style: none;
    color: #FFF;
    min-width: 32px;
    transition: transform 100ms, box-shadow 100ms;
}

.solidButton:hover {
    box-shadow: 0px 2px 0px 0px #013;
    transform: translateY(-2px);
    transition: transform 100ms, box-shadow 100ms;
}

.solidButton:active {
    box-shadow: 0px 0px 0px 0px #013;
    transform: translateY(0px);
    transition: transform 50ms, box-shadow 50ms;
}

.blueGhost {
    border-color: #36f !important;
    color: #36f !important;
    margin: 0px !important;
    margin-right: 20px !important;
}

.ghostButton {
    cursor: pointer;
    margin: 20px 20px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    border-radius: 3px;
    color: #444;
}

.ghostButtonRed {
    cursor: pointer;
    margin: 20px 20px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #f04;
    border-radius: 3px;
    color: #f04;
}

.ghostButton:hover {
    background-color: #3366FF;
    color: #fff;
    transition: color 100ms, background-color 300ms;
}

.ghostButtonRed:hover {
    background-color: #f04;
    color: #fff;
    transition: color 100ms, background-color 300ms;
}

.keyline {
    border-bottom-style: solid;
    border-color: #aaa;
    border-width: 1px;
}

.image {
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: #3366ff;
    width: 50%;
    height: 50%;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}


/*Home Page CSS*/

.page {
    margin: auto;
    box-shadow: 0px 10px 30px -5px #222;
    max-width: 1000px;
    max-height: 700px;
    padding: 7% 4%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.homeBody {
    height: 100%;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    color: #3366FF;
    margin-top: -25px;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    height: 50px;
    cursor: default;
}

.searchBar {
    width: 45vw;
    min-width: 400px;
    max-width: 600px;
    font-size: 20px;
}

.searchButton {
    cursor: pointer;
    font-size: 18px;
    padding: 3px 5px;
    border-style: solid;
    border-color: #3366FF;
    border-width: 0px;
    color: #fff;
    background-color: #3366FF;
}


/* Edit Page CSS*/

.editHtml {
    background-color: #ffffff;
}

.articleForm {
    margin-left: 0px;
}

.sectionForm {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.articleTitleBox {
    width: 50%;
    font-size: 18px;
    padding: 4px 4px;
    border-color: #888;
    border-bottom-style: solid;
    border-width: 1px;
}

.sidebarSections {
    border-right-style: solid;
    border-width: 1px;
    border-color: #AAA;
    width: 17%;
    height: 100%;
    padding: 10px;
    margin-top: 76px;
    position: fixed;
}

.sideBarlink a {
    margin-bottom: 40px;
}

.sectionEdit {
    width: 100%;
    padding-right: 20px;
}

.sectionTitle {
    float: left;
    margin-right: 20px;
    margin-top: 0px;
}

.pageEdit {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.sectionContainer {
    width: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.sectionSide {
    width: 80%;
    display: inline-block;
    height: 100%;
    float: left;
}

.sectionImage {
    width: 20%;
    height: 25%;
    float: left;
}

.tArea {
    width: 90%;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    float: left;
}

.sectionWrap {
    display: flex;
    flex-direction: row;
}

.sectionBarTitle {
    width: 80%;
    padding-bottom: 20px;
}

.deadButton{
    margin: 20px 20px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #f04;
    border-radius: 3px;
    color: #f04;
}


/* About Page CSS */

.aboutPage {
    margin: auto;
    box-shadow: 0px 10px 30px -5px #222;
    max-width: 1000px;
    width: 80%;
    padding: 7% 4%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}

.aboutTitle {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    color: #3366FF;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    height: 50px;
    cursor: default;
}

.rowAlign {
    display: block;
    justify-content: center;
    flex-direction: row;
}

.rowAlignLeft {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.sideBySide {
    width: 30%;
    float: left;
    margin-top: 0px;
}

h1,
h2,
h3,
h4,
p,
dd,
dt,
li,
ul {
    font-family: 'Montserrat', sans-serif;
}


/*Search Bar CSS*/

.topBar {
    display: flex;
    align-items: center;
    top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
    position: fixed;
}

#titleBar {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    margin-left: 1vw;
    margin-right: 1vw;
    color: #3366FF;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    cursor: default;
}

.searchBar {
    width: 45vw;
    min-width: 400px;
    max-width: 600px;
    font-size: 20px;
}

.searchButton {
    cursor: pointer;
    font-size: 18px;
    padding: 3px 5px;
    border-style: solid;
    border-color: #3366FF;
    border-width: 0px;
    color: #fff;
    background-color: #3366FF;
}

#buttonBar {
    flex: 2;
    margin-right: 1vw;
}

.barButton {
    margin-right: 0px
}

#headerLine {
    width: 98%;
    margin: 0;
    border-color: #888;
    border-width: 1px;
    position: absolute;
    top: 19%;
    margin-bottom: 5px;
    top: 60px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
    float: left;
    border-style: none;
    border-bottom-style: solid;
}

li {
    display: block;
}

ul {
    list-style-position: inside;
}

h1,
h2,
h3,
h4,
p,
dd,
dt,
li,
ul {
    font-family: 'Montserrat', sans-serif;
}


/*Search Results*/

.searchContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

#rightSpace {
    flex: 1;
    height:
}

#leftSpace {
    flex: 0.35;
}

#resultView {
    flex: 1.3;
    background-color: #FFFFFF;
    display: flex;
}

.searchResult {
    flex: 1;
    height: 50vh;
    margin: 3vh 3vh 3vh 3vh;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

#foundTitleBox {
    flex: 0.5;
    background-color: #3366FF;
}

#foundTitle {
    margin: 3vh 0 3vh 3vh;
    font-size: 8vh;
    color: #FFFFFF;
}

#foundDesBox {
    flex: 2;
}

#foundDes {
    margin: 5vh 5vh 5vh 5vh;
    font-size: 4vh;
    color: #888;
    overflow: hidden;
}


/*adminView*/

.adminHtml {
    margin: auto;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.adminPage {
    background-color: #ffffff;
}

.adminListTitle {
    margin-left: 100px;
}

.adminButton {
    display: flex;
}

.adminPage {
    background-color: #ffffff;
}

.editButtonRed {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #ff0000;
    background-color: #ff0000;
    border-radius: 3px;
    color: #ffffff;
}

.editButtonRed:hover {
    background-color: #ff0000;
    color: #ffffff;
    transition: color 100ms, background-color 300ms;
}

.editButtonGreen {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: #008000;
    background-color: #008000;
    border-radius: 3px;
    color: #ffffff;
}

.editButtonGreen:hover {
    background-color: #008000;
    color: #ffffff;
    transition: color 100ms, background-color 300ms;
}