UPOD Software Requirements

1. Introduction

1.1 Purpose

UPOD is designed to make easier for student to access physics equations, definitions, explanations, and diagrams. As well as giving professors the ability of updating existing information, and adding new information.

1.2 Scope

The Undergraduate Physics Online Database (UPOD) is an online physics database targeted at university students and professors. It's user interface (UI) is designed to allow for easy access and updating. UPOD will give students the ability to learn about multiple physics topics, through the use of interactive diagrams, pictures, videos, equations, definitions, and explanations. Professors will be able to add to the students’ learning experience by creating and editing topic pages.
The goal for UPOD is to make it accessible to everyone. This includes applying it to school servers, and have people login using their school login information.


1.3 Definitions

Front-end: The section of the website that all users are able to access and interact with.
#also the HTML, CSS etc. that the fronted team writes.
Back-end: The section of the website that sends info from the database to the front-end. Administrators and Moderators are the only users able to access this section of the website.
#You don't have to include which users can access the backend, I'll include that in section 2.3.

1.4 References

IEEE Recommended Practice for Software Requirements Specifications, IEEE Std 830-1998, IEEE, New York, NY, 1998.

1.5 Overview

This document provides a in-depth reference for the software specifications of UPOD. It begins with an introduction and goes on to
describe the characteristics, functions, and design of the project. An overview of the requirements follows, with appendices and an
index ending the document.

2. Overall Description



2.1 Product Perspective

The UPOD site is to be self contained supplying its own front and back end. However, UPOD will be integrated into a Laurier Service as to utilize the Single Sign On authentication service provided by idp.wlu.ca.
UPOD will host full support for the following browsers
	- Firefox 28
	- Chrome 21
	- Safari 6.1
	- Opera 12.1
	- MS Edge 11
And partial support for
	- Internet Explorer 10
	- iOS Safari 7.1
	- Android Browser 4.4
	- Samsung Internet 5
UPOD's user interface will run almost exclusively for desktop computers with some, to no, support for mobile browsers. This is primarely because of non resizable elements such as animated and interactable diagrams that will be too large for mobile interfaces.
UPOD's user interface will contain a search bar, for finding relevent pages; a drop down menu, for secondary site functions such as the moderators panel and about; and a table of contents, consiting of links for navigating each individual pages sections.
UPOD will require a database, to hold information; a server, for generating pages and fufilling user requests; and a browser, for viewing the site.



2.2 Product Functions

2.3 User Characteristics

2.3 User Characteristics

General User  - While UPOD is targeted at university students, a general user is not required to have Physics education or experience.
It is assumed that they have basic technical knowledge and can navigate a website. They are able to traverse, read, and suggest new
pages without creating an account.

Moderator - A moderator has all of the privileges of a general user. They also require an account, which can be used to create, update,
edit, and delete pages. Moderators should have a basic knowledge of physics and greater technical knowledge than a general user, as they
have a greater degree of control over the website. Programming knowledge is not mandatory, however, if they wish to create an
interactive diagram, the moderator must know javascript.

Administrator - An administrator has all moderator privileges, and can add moderators and administrators to the existing list. They also
require an account, and should have the greatest degrees of physics knowledge and technical experience.

2.4 Constraints

Due to a lack of resources we will be unable to implement a separate mobile browser, causing our website not to be as functional off 
desktop browsers.

2.5 Assumptions and Dependencies

The assumption is that any user will be accessible to anyone, where as our administrators and moderators will access from idp.wlu.ca to 
edit, create, delete and update pages. Not requiring our team to create a database or hashing or encrypting passwords.

3. Specific requirements

Appendices

Index




 
Requirements Documents	SAQ
Stephanie Pitman	Connor Watson
Joseph Shannon		Yinhao Zhong
Nathan Skof		Victor Tang
Nicholas Hallman	Travis Leyenuarniseon
Lauren Hepditch	 	Rachel Choi
 	 
